#app .sidebar-container {
  background-color: #f89d37;
}
.sidebar-logo-container {
  background-color: #fef5eb !important;
  height: 70px !important;
  line-height: 70px !important;
}
.el-menu {
  background-color: #f89d37 !important;
}
.el-menu-item.submenu-title-noDropdown {
  background-color: transparent !important;
  color: #fff !important;
}
.el-menu-item.is-active {
  color: #795547 !important;
}
#app .sidebar-container .submenu-title-noDropdown:hover {
  background-color: #795547 !important;
  color: #fff !important;
}
.login-container {
  background-color: #fef5eb !important;
}
.login-container .title-container .title {
  color: #795547 !important;
}
.login-container .el-input input {
  color: #555 !important;
}